## Server Port
SERVER_PORT = Your server port here
## MongoDB Server
DB_HOST = Your database's host port here
DB_PORT = Your database's port here
DB_NAME = Your database's name here
## SECRET KEYS
ACCESS_TOKEN_SECRET = Your access key here
REFRESH_TOKEN_SECRET = Your refresh key here
## Cloudinary
CLOUDINARY_NAME = Your cloudinary's name here
CLOUDINARY_API_KEY = Your cloudinary's api key here
CLOUDINARY_API_SECRET = Your cloudinary's api secret here
## Server enviroment
SERVER_ENVIROMENT = 'development' || 'product'